<section class="<%= component_classes %>" <%= debug_attributes %>>
  <%= render PublicV2::Content::SectionHeaderComponent.new(
    kicker: "Meme categorie",
    title: "Produits proches a comparer.",
    debug: debug?
  ) %>
  <div class="pv2-category-products grid grid-cols-1 gap-3 min-[821px]:grid-cols-2 min-[1121px]:grid-cols-3">
    <% product_page.related_cards.each do |card| %>
      <%= render PublicV2::Products::ProductCardComponent.new(
        product: card.product,
        path: card.path,
        image: card.image,
        description: "Voir la fiche",
        debug: debug?
      ) %>
    <% end %>
  </div>
</section>
