<section class="<%= component_classes %>" <%= debug_attributes %>>
  <header class="pv2-product-related__header">
    <div class="pv2-product-related__copy">
      <h2>Produits similaires</h2>
    </div>
  </header>

  <div class="pv2-product-related__grid">
    <% related_cards.each do |card| %>
      <%= render PublicV2::Products::RelatedProductCardComponent.new(card: card, debug: debug?) %>
    <% end %>
  </div>
</section>
