<article class="<%= component_classes %>" <%= debug_attributes %>>
  <span class="pv2-product-service-feature__icon-wrap" aria-hidden="true">
    <%= inline_svg_tag(item.icon, class: "pv2-product-service-feature__icon") %>
  </span>

  <span class="pv2-product-service-feature__copy">
    <strong><%= item.label %></strong>
  </span>
</article>
