<footer class="bg-white border-t border-gray-100 w-full">

  <div class="w-full flex px-4 justify-between">
    <div class="flex items-center">
      <p class="text-xs leading-6 font-medium text-gray-600 text-center">&copy; 2025 Les artisans du store</p>
    </div>

    <div class="flex justify-center space-x-6">
      <div class="flex items-center border-x px-3 py-4">
        <%= link_to "04 74 01 05 11", "tel:0474010511", class: "text-xs text-gray-500 font-medium hover:underline" %>
      </div>

      <div class="flex items-center">
        <span class="text-xs font-medium text-gray-500">35 Rue des Martinets 69210 L'Arbresle</span>
      </div>
    </div>

  </div>

</footer>
