<div data-controller="modal">
  <!-- Galerie photo -->
  <div class="flex items-center space-x-2 pt-10 pl-10">
    <%= inline_svg_tag("icons/camera.svg", class: "text-gray-400 h-6 w-6") %>
    <h4 class="text-base font-semibold leading-6 text-gray-900">Galerie photo</h4>
  </div>
  <ul role="list" class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8 p-10">
    <% @photos.each do |photo| %>
      <li class="relative">
        <div class="group aspect-h-7 aspect-w-10 block w-full overflow-hidden rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
          <%= cl_image_tag(photo.key, crop: :scale, class: "pointer-events-none object-cover group-hover:opacity-75") %>
          <!-- On ajoute data-action et data-modal-url-value pour ouvrir la modal -->
          <button type="button"
                  data-action="click->modal#open"
                  data-modal-url-value="<%= cl_image_path(photo.key) %>"
                  class="absolute inset-0 focus:outline-none">
            <span class="sr-only">Voir la photo en grand</span>
          </button>
        </div>
      </li>
    <% end %>
  </ul>

  <!-- Modal (initialement cachée avec "hidden") -->
  <div id="modal"
       class="fixed inset-0 flex items-center justify-center bg-gray-500 bg-opacity-75 hidden z-50"
       data-modal-target="container">
    <div class="bg-white p-4 rounded shadow-lg relative w-full">
      <!-- Bouton de fermeture -->
      <button type="button"
              data-action="click->modal#close"
              class="fixed top-10 right-10 p-2">
        <svg class="h-6 w-6 text-gray-700" fill="none" stroke="white" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
      <!-- Image à afficher en grand -->
      <img data-modal-target="image"
           src=""
           alt="Photo agrandie"
           class="object-contain">
    </div>
  </div>
</div>
