<span
  data-controller="server-event"
  data-server-event-level-value="<%= level %>"
  data-server-event-message-value="<%= message %>"
  data-server-event-timestamp="<%= timestamp.iso8601 %>">
</span>
