<article class="<%= component_classes %>">
  <% if title.present? %>
    <strong><%= title %></strong>
  <% end %>
  <p><%= message %></p>
  <% if action_label.present? && action_path.present? %>
    <%= render PublicV2::Ui::ButtonComponent.new(label: action_label, path: action_path, variant: :secondary) %>
  <% end %>
</article>
