<section id="produits" class="<%= component_classes %>" <%= debug_attributes %>>
  <%= render PublicV2::Content::SectionHeaderComponent.new(
    kicker: "Familles produits",
    title: "Entrer par usage, puis affiner avec l'equipe.",
    variant: :home,
    debug: debug?
  ) %>

  <%= render PublicV2::Ui::ShowcaseCarouselComponent.new(
    items: family_items,
    aria_label: "Familles produits Les Artisans du Store",
    variant: :soft,
    size: :wide,
    classes: "pv2-home-warm__category-carousel",
    debug: debug?
  ) %>
</section>
