<section id="produits" class="<%= component_classes %>" <%= debug_attributes %>>
  <h2 class="pv2-home-category-title">
    <span>Solutions</span>
    <span class="pv2-home-category-title__accent">sur mesure.</span>
  </h2>

  <%= render PublicV2::Ui::ShowcaseCarouselComponent.new(
    items: category_feature_cards,
    aria_label: "Familles produits Les Artisans du Store",
    variant: :soft,
    size: :content,
    initial_index: initial_category_index,
    classes: "pv2-home-warm__category-carousel",
    debug: debug?
  ) %>
</section>
