<% title "Home page" %>
<% description "Fourniture / Pose de stores , 69 , Rhône-alpes , stores extérieurs et intérieurs, moustiquaires, volets roulants, portes de garages." %>

<%= render EventFlashComponent.new(@event) %>
<%= render HomeMainHeroComponent.new(@categories) %>

<div class="bg-white">
</div>
