<div class="grid gap-4 md:grid-cols-2">
  <% if @product.infos.present? %>
    <article class="rounded-2xl border border-slate-200 bg-white p-6">
      <p class="text-md tracking-tight font-medium leading-7 text-slate-600"><%= @product.infos %></p>
    </article>
  <% end %>

  <% if @product.options.any? %>
    <article class="rounded-2xl border border-slate-200 bg-white p-5">
      <ul role="list" class="space-y-2 text-md tracking-tight font-semibold leading-7 text-slate-600">
        <% @product.options.each do |option| %>
          <li class="flex gap-2 items-center">
            <span class="h-1.5 w-1.5 shrink-0 rounded-full bg-orange-400 mr-2"></span>
            <span><%= helpers.formatted_option_content(option.content) %></span>
          </li>
        <% end %>
      </ul>
    </article>
  <% end %>
</div>
