<%= tag.section class: component_classes, data: debug_data do %>
  <div class="pv2-public-index-hero-v2__catalog">
    <header class="pv2-public-index-hero-v2__intro">
      <h1>
        <% category_index_page.hero_title_lines.each do |line| %>
          <span><%= line %></span>
        <% end %>
      </h1>
    </header>

  </div>
<% end %>
