<%= simple_form_for(@category) do |f| %>
  <div class="space-y-6">
    <%= f.input :name %>
    <%= f.input :description  %>
    <div>
      <%= f.button :submit, "Valider" %>
    </div>

  </div>
<% end %>