<%= tag.section class: component_classes, data: debug_data, aria: { label: "Coordonnees et acces" } do %>
  <div class="pv2-contact-cards grid min-w-0 grid-cols-1 gap-3 min-[821px]:grid-cols-2">
    <% contact_cards.each do |card| %>
      <%= render PublicV2::Content::InfoCardComponent.new(
        label: card[:label],
        title: card[:title],
        text: card[:text],
        path: card[:path]
      ) %>
    <% end %>
  </div>

  <div class="pv2-contact-map">
    <iframe
      src="<%= map_src %>"
      width="100%"
      height="100%"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      title="Carte Les Artisans du Store a L'Arbresle"
    ></iframe>
  </div>
<% end %>
